.formatted-json .json_block, .result-container .json_block {
  padding-left: 20px; 
  border-left-width: thin; 
  border-left-style: solid;
  border-left-style: dashed; 
  border-left-color: rgba(0, 0, 0, 0.349); 
  border-color: 'black';
  margin-left: 0.25rem;
  margin-top: 3px;
  margin-bottom: 3px;
}
.formatted-json li, .result-container li {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}
.formatted-json ul, .result-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.expanded, .collapsed {
  cursor: pointer;
}

.expanded::before,
.collapsed::before {
  cursor: pointer;
  margin-right: 5px;
  opacity: 54%;
  position: absolute;
  left: -15px;
  width: 10px;
  height: 10px;
  display: inline-block;
  text-align: center;
}

.expanded::before {
  content: "-";
}

.collapsed::before {
  content: "+";
}

.json_value {
  margin-left: 15px;
}
.collapser {
  position: relative;
  left: -0.6rem;
  top: 0.95rem;
}