.json_block {
  padding-left: 20px; 
  border-left-width: thin; 
  border-left-style: solid;
  border-left-style: dashed; 
  border-left-color: rgba(0, 0, 0, 0.349);
  margin-left: 0.25rem;
  margin-top: 3px;
  margin-bottom: 3px;
}
.json_block li {
  list-style-type: none;
  padding-left: 0.75rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
}

.json_block ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.expanded::before {
  content: "-";
  cursor: pointer;
  margin-right: 5px;
  opacity: 54%;
}
.collapsed::before {
  content: "+";
  cursor: pointer;
  margin-right: 5px;
  opacity: 54%;

}
.json_value {
  margin-left: 15px;
}
.collapser {
  position: relative;
  left: -0.6rem;
  top: 0.95rem;
  pointer-events: none;
}
.collapser::before {
  pointer-events: all;
}
.json-formatter-container {
  display: none !important;
}
@media (prefers-color-scheme: dark) {
  .json_block {
    border-left-color: rgba(255, 255, 255, 0.35);
  }
}