.json_block {
  padding-left: 20px; 
  border-left-width: thin; 
  border-left-style: solid;
  border-left-style: dashed; 
  border-left-color: rgba(0, 0, 0, 0.349); 
  border-color: 'black';
  margin-left: 0.25rem;
  margin-top: 3px;
  margin-bottom: 3px;
}
li {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.expanded::before {
  content: "-";
  cursor: pointer;
  margin-right: 5px;
  opacity: 54%;
}
.collapsed::before {
  content: "+";
  cursor: pointer;
  margin-right: 5px;
  opacity: 54%;

}
.json_value {
  margin-left: 15px;
}
.collapser {
  position: relative;
  left: -0.6rem;
  top: 0.95rem;
}