.multi-button {
  position: fixed;
  top: 5px;
  right: 0;
  z-index: 1000;
  width: 17rem;
  display: flex;
}

.nav-toggle {
  position: fixed;
  top: 5px;
  right: 17rem;
  z-index: 1000;
  cursor: pointer;
  padding: 0.5rem;
  background: white;
  border-top: 0.125rem solid black;
  border-left: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
  height: 0.95rem; 
  display: flex;
  align-items: center;
  font-family: monospace;
}

.nav-hidden {
  right: -17rem;
}

.nav-toggle-hidden {
  right: 0;
  border-right: 0.125rem solid black;
}

.multi-button button {
  flex: 1;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0.125rem solid black;
  background: white;
  font-size: 0.8rem;
  font-family: monospace;
  text-transform: lowercase;
}

.multi-button button.selected {
  color: white;
  background: black;
}

.multi-button button + button {
  border-left: none;
}